{% include "isisd.jinja" %}
{% for line in custom_frr_config %}
{{ line }}
{% endfor %}
{% include "fabricd.jinja" %}
{% include "ospfd.jinja" %}
{% include "access_lists.jinja" %}
{% include "route_maps.jinja" %}
{% include "protocol_routemaps.jinja" %}
